<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.witsafe.dao.dbo.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.witsafe.model.dbo.Dept" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DeptName" property="deptname" jdbcType="NVARCHAR" />
    <result column="FatherID" property="fatherid" jdbcType="INTEGER" />
    <result column="QrCodeImgUrl" property="qrcodeimgurl" jdbcType="NVARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DeptName, FatherID, QrCodeImgUrl, CreateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.witsafe.model.dbo.DeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dbo.Dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dbo.Dept
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dbo.Dept
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.witsafe.model.dbo.DeptExample" >
    delete from dbo.Dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.witsafe.model.dbo.Dept" >
    insert into dbo.Dept (ID, DeptName, FatherID, 
      QrCodeImgUrl, CreateTime)
    values (#{id,jdbcType=INTEGER}, #{deptname,jdbcType=NVARCHAR}, #{fatherid,jdbcType=INTEGER}, 
      #{qrcodeimgurl,jdbcType=NVARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.witsafe.model.dbo.Dept" >
    insert into dbo.Dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deptname != null" >
        DeptName,
      </if>
      <if test="fatherid != null" >
        FatherID,
      </if>
      <if test="qrcodeimgurl != null" >
        QrCodeImgUrl,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=NVARCHAR},
      </if>
      <if test="fatherid != null" >
        #{fatherid,jdbcType=INTEGER},
      </if>
      <if test="qrcodeimgurl != null" >
        #{qrcodeimgurl,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.witsafe.model.dbo.DeptExample" resultType="java.lang.Integer" >
    select count(*) from dbo.Dept
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dbo.Dept
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deptname != null" >
        DeptName = #{record.deptname,jdbcType=NVARCHAR},
      </if>
      <if test="record.fatherid != null" >
        FatherID = #{record.fatherid,jdbcType=INTEGER},
      </if>
      <if test="record.qrcodeimgurl != null" >
        QrCodeImgUrl = #{record.qrcodeimgurl,jdbcType=NVARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dbo.Dept
    set ID = #{record.id,jdbcType=INTEGER},
      DeptName = #{record.deptname,jdbcType=NVARCHAR},
      FatherID = #{record.fatherid,jdbcType=INTEGER},
      QrCodeImgUrl = #{record.qrcodeimgurl,jdbcType=NVARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.witsafe.model.dbo.Dept" >
    update dbo.Dept
    <set >
      <if test="deptname != null" >
        DeptName = #{deptname,jdbcType=NVARCHAR},
      </if>
      <if test="fatherid != null" >
        FatherID = #{fatherid,jdbcType=INTEGER},
      </if>
      <if test="qrcodeimgurl != null" >
        QrCodeImgUrl = #{qrcodeimgurl,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.witsafe.model.dbo.Dept" >
    update dbo.Dept
    set DeptName = #{deptname,jdbcType=NVARCHAR},
      FatherID = #{fatherid,jdbcType=INTEGER},
      QrCodeImgUrl = #{qrcodeimgurl,jdbcType=NVARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>